# Discord Bot settings

DISCORD_BOT_NAME=VidCha
DISCORD_TOKEN=
COMMAND_PREFIX="!"
RSS_UPDATE_INTERVAL=45

# Youtube Data API

YOUTUBE_API_KEY=

# Database

DATABASE=sqlite # mysql or sqlite

# SQLite3

DATABASE_SQL_FILE="vidcha.db"

# MySQL

DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=3306
